body {
  margin: 10px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw; */
  height: 100vh
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --darkBlue: #03045e;
  --blue: #0077b6;
  --lightBlue1: #00b4d8;
  --lightBlue2: #90e0ef;
  --lightestBlue: #caf0f8;
}

body {
  background-color: var(--lightBlue2);
}

nav {
  background-color: var(--darkBlue);
}

nav a {
  color: var(--lightestBlue);
}

h1 {
  color: var(--blue);
}

.about-me {
  background-color: var(--lightBlue1);
}

/*-----FOOTER-------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.github-logo {
  min-height: 5vh;
  max-height: 10vh;
}

.linkedin-logo {
  min-height: 5vh;
  max-height: 10vh;
}
