body {
  margin: 10px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #000000;
  --color-secondary: #333333;
  --color-tertiary: #666666;
  --color-accent: #999999;
  --color-highlight: #ffffff;
}


nav {
  background-color: var(--color-primary);
}

h1 {
  position: relative;
  padding-top: 10px;
  color: black;
  text-align: center;
}

nav a {
  color: var(--color-highlight);
  text-decoration: none;
}

nav {
  display: inline-flex;
  width: 100%;
}

nav ul li {
  list-style-type: none;
  font-size: 1.2rem;
  margin-left: 1.3rem;
}

nav ul li:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.active {
  border-bottom: 2px solid var(--color-highlight);
}

nav ul {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

/* -----ABOUT ME------ */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10vh;
  color: var(--color-highlight);
  font-size: 1.2rem;
}

.about-me-section {
  max-width: 50%;
  min-width: 320px;
  text-align: center;
}
.about-me p {
  margin-top: 2rem;
}

h2 {
  text-align: center;
}

.profile-pic {
  width: 35vh;
  margin-top: 3.8rem;
  margin-left: .5rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .profile-pic {
    display: none;
  }

  .about-me {
    margin: 0 auto;
    place-items: center;

  }
}

/* -----PORTFOLIO ------ */

.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.project-title, .project-technologies {
  text-align: center;
}

.work h3 {
  color: orange;
}

.work p {
  font-weight: bold;
  color: orange
}

.work a {
  color: grey;
  text-decoration: none;
}

.work-example-1 {
  grid-row: 1;
  grid-column: 1 / 3;
  /* background-image: url('https://t3.ftcdn.net/jpg/02/34/44/16/360_F_234441670_C9KlCIyfp2l8tLKHrr4CNjctGz252bg5.jpg'); */
  background-image: url('./images/GetTethicalBanner2.png');
  background-size: cover;
  color: orange;
}

.work-example-1 a {
  color: white;
}

.work-example-2 {
  grid-row: 2;
  grid-column: 1;
  background-image: url('./images/NoteTakerBanner.png');
}

.work-example-3 {
  grid-row: 2;
  grid-column: 2;
  background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-blue-business-technology-g20-summit-banner-background-picture-image_1020721.jpg');
}

.work-example-4 {
  grid-row: 3;
  grid-column: 1;
  background-image: url('https://img.freepik.com/premium-vector/modern-blue-gold-abstract-banner-background_181182-20341.jpg');
}

.work-example-5 {
  grid-row: 3;
  grid-column: 2;
  background-image: url('./images/weatherDashboard3.png');
}

.work-example-6 {
  grid-row: 3;
  grid-column: 3;
}
/* ----CONTACT---- */

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.contact-section p {
  color: white;
}

.contact-h2 {
  color: white;
}

.contact-section label {
  margin-bottom: 10px;
  color: white;
}

.contact-section input, .contact-section textarea {
  padding: 10px;
  margin-bottom: 20px;
  width: 30vh;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}

.contact-section button {
  padding: 10px 20px;
  background-color: var(--color-secondary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-section input:focus,
.contact-section textarea:focus {
  outline: none;
  background-color: var(--color-tertiary);
}

.error-message {
  color: orange;
}

/* -----RESUME----- */
.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* border: 2px solid orange; */
}

.resume-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.resume-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resume-section li {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 80%;
  background-color: var(--color-secondary);
  color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.resume-section li:hover {
  transform: scale(1.05);
}

.proficiencies {
  height: 100%;
  width: 100%;
  display: inline;
}

.proficiencies ul {
  height: 100%;
}

.list-of-prof {
  display: flex;
}

.resume-title {
  display: block;
}

/*-----FOOTER-------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.github-logo {
  min-height: 5vh;
  max-height: 10vh;
}

.linkedin-logo {
  min-height: 5vh;
  max-height: 10vh;
}
